:root{
  --principal: #1D9CA3;
  --secundaria: #23C05C;
  --tercearia: #1D72A3;
  --quartenaria: #FF5722; 
  --fundos: #f2f2f2;
  --borda: 1px solid #ddd
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

.textos{
  font-size: 1rem;
  line-height: 1.4;
  margin: 3px;
  text-indent: 20px;
  text-align: justify;
}
.titulo{
  font-style: bolder;
  text-align: center;
  margin: 5px 0;
  font-size: 2em;
  border: 1px solid rgba(167, 166, 166, 0.075);
}

.titulo2{
  font-size: 1.4rem;
  margin: 3px;
  font-style: bolder;
}

.titulo3{
  font-size: 1rem;
  margin: 3px;
  font-style: bolder;
}

.button_login{
    min-width: 50px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bolder;
    background-color: #1D9CA3;
    font-size: 1.3em;
    cursor: pointer;
}

.button_login:hover{
  color: #1D9CA3;
  background-color: aliceblue;
}


/*/page*/
.sombra-banner{
  background-image: url('./assets/sombra-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40px;
  position: relative;
}

.sombra-banner .buttons{
  display: flex;
  justify-content: right;
  margin-right: 10px;
}
.banner{
  background-image: url('./assets/drone-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 220px;
  position: relative;
  margin-bottom: 15px; 
}
.banner h2{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #6BB78E;
  font-size: 1em;
  font-weight: 100;
}

.home-container {
  background-color: #f2f2f2; /* Cor de fundo do banner */
  border: 1px solid #ddd; /* Borda do banner */
  padding: 10px; /* Espaçamento interno */
  margin: 1px 0; /* Margem externa */
  font-family: Arial, sans-serif; /* Fonte do texto */
  text-align: center;
}

.home-container .titulo2{
  padding: 10px;
}

.home-container ul{
  list-style: none;
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 colunas de tamanho igual */
  grid-template-rows: auto ; /* 3 linhas */
  gap: 25px; /* Espaçamento entre as células da grid */
  margin: 10px auto;
  
}

.home-container ul li{
  border: var(--borda);
  border-radius: 5px;
  padding: 3px;
  background-color: #1d9ca30c;
}

.container_avaliacoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}


.container_funcionamento{
  background-color: #1d9ca325;
  padding: 10px;
  text-align: center;
}

.container_card{
  margin: 15px 0;
}
.cards{
  display: flex;
  flex-direction: column;
  margin: 7px auto;
  width: 70vw;
  align-items: center;
}

.icons{
  width: 70px;
}

.cards p{
  width: 80%;
  margin: auto;
  text-align: justify;
}

.container_funcionamento p{
  text-align: center;
}

.hidden{
  display: none;
}
/*googleAuth*/
.S9gUrf-YoZ4jf{
  display: flex;
  justify-content: center;
  margin: auto;
}

@media only screen and (min-width: 768px) {

  .fundo{
    width: 80%;
    margin: auto;
  }
  .largura70{
    width: 70%;
    margin: auto;
  }
  .banner{
    min-height: 400px; 
  }

  .banner-container ul{
    width: 70%;  
    gap: 25px; /* Espaçamento entre as células da grid */  
  }

  .container_card{
    width: 70%;
    margin: 0 auto;
    display: flex;
  }
 
  /*Dashboard*/
  .containerCardPerfil{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
  }
}